<body>


  <div id="main">

    <%- include("partials/header.ejs") %> <br><br>
    
<h2> Find A Quote! </h2> <br>

   <form action="/searchByKeyword">
     Keyword: 
     <input type="text" name="keyword">
     <button>Search by Keyword</button>
   </form>

   <form action="/searchByAuthor">
    <select name="authorId">
      <% for (author of authors) { %>
      <option value="<%=author.authorId%>">
        <%=author.firstName%> <%=author.lastName%>
      </option>
      <% } %>
    </select>
     <button>Search by Author</button>
   </form>

  <form action="/searchByCategory">
  <select name="category">
    <% for (c of categoryRows) { %>
      <option value="<%= c.category %>">
        <%= c.category %>
      </option>
    <% } %>
  </select>
  <button>Search by Category</button>
</form>

<form action="/searchByLikes">
     Lowest number of likes: <input type="number" name="likesLow"><br>
     Highest number of likes: <input type="number" name="likesHigh"><br>
     <button>Search by Likes</button>
   </form>

  </div>

  <%- include("partials/footer.ejs") %>
 

</body>
 