<html>
<body>

  <div id="main">
        <%- include("partials/header.ejs") %>

 <h2> Quotes Found </h2>

 <% for (i of quotes) { %>

    <b><%= i.quote%></b> <br>
    -<em>
        <a href="#" id="<%=i.authorId %>">
            <%= i.firstName%> <%=i.lastName %>
        </a></em>
        <br>

       Likes: <%= i.likes %>
       <br><br>


 <% } %>
 

<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="authorInfo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<form action="/">
     <button>Return to Search</button>
  </form>

 

  </div>

 

   <%- include("partials/footer.ejs") %>

   <script src="/js/scripts.js"></script>
</body>
</html>
 